
  
  .react-datepicker__day-names {
    white-space: nowrap;
    margin-bottom: 10px !important;
  }
  .react-datepicker{
    width: 630px;
    display: flex
;
    justify-content: space-around;
  }
  .react-datepicker__current-month{
    margin-bottom: 20px !important;
  }
  .react-datepicker__header{
    background-color: #fff;
    border-bottom: none !important;
  }
  
  @media screen and (max-width: 1024px){
    .react-datepicker{
      flex-direction: column;
      width: 330px;
    }
  }