@import 'react-datepicker/dist/react-datepicker.css';




:root {
  --dynamic-text-color: white;
  --background-color: #000;
  --text-white: #f5f5f5;
  --logo-color: white;
  --arrow-color:#DEFF00;
  --footerText-color: #D9D9D9;
  --popover-color :#DEFF00;
  --navhover-color: #DEFF00;
  --footerSpan-color: #DEFF00;
  --hover-color:#DEFF00;
  --arowDown-color:#DEFF00;
  --arowUp-color:#fff;
  --mobileUp-color:#DEFF00;
  --mobileDown-color:#FFF;
  --mobileOverlay-color:#141414;
}

body,
html {
  @apply font-degular;
  @apply bg-body-bg;
  @apply text-body-text;
  position: relative;
}

@tailwind base;
@tailwind components;
@tailwind utilities;